<div class="col-md-3">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action">Инструмент</a>
          <a href="#" class="list-group-item list-group-item-action">Электрика и свет</a>
          <a href="#" class="list-group-item list-group-item-action">Сантехника и инженерные системы</a>
          <a href="#" class="list-group-item list-group-item-action">Ручной инструмент</a>
          <a href="#" class="list-group-item list-group-item-action">Все для сада</a>
          <a href="#" class="list-group-item list-group-item-action">Крепеж и фурнитура</a>
          <a href="#" class="list-group-item list-group-item-action">Отделочные и стройматериалы</a>
          <a href="#" class="list-group-item list-group-item-action">Офис и дом</a>
          <a href="#" class="list-group-item list-group-item-action">Климат и отопление</a>
          <a href="#" class="list-group-item list-group-item-action">Строительное оборудование</a>
        </div>
</div>