{% extends 'authorize/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
  <div class="row">
    <div class="col-12 col-md-3 mb-4">
        {% if person.avatar %}
            <img src="{{ person.avatar.url }}" alt="Avatar" class="img-fluid rounded-circle">
        {% else %}
             <img src="{% static 'authorize/img/default-avatar.jpg' %}" alt="Avatar" class="img-fluid rounded-circle">
        {% endif %}
    </div>
    <div class="col-12 col-md-9">
      <h1 class="mb-3">{{ Person.username }}</h1>
      <div class="row">
        <div class="col-12 col-md-6">
          <p><strong>Имя:</strong> {{ person.first_name }}</p>
          <p><strong>Фамилия:</strong> {{ person.last_name }}</p>
          <p><strong>Email:</strong> {{ person.email }}</p>
          <p><strong>Телефон:</strong> {% if person.phone_numbers %}{{ person.phone_numbers }}{% else %}{% endif %}</p>
        </div>
        <div class="col-12 col-md-6">
          <p><strong>Город проживания:</strong> {% if person.city %}{{ person.city }}{% else %}Заглушка{% endif %}</p>
          <p><strong>Улица:</strong> {% if person.street %}{{ person.street }}{% else %}Заглушка{% endif %}</p>
          <p><strong>Дом:</strong> {% if person.house_number %}{{ person.house_number }}{% else %}Заглушка{% endif %}</p>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
        <a href="{% url 'edit_person' %}"> Внести изменения </a>
    </div>
</div>
{% endblock %}