{% extends 'authorize/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Корзина</h2>
    {% if cart_items %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Товар</th>
                <th scope="col">Количество</th>
                <th scope="col">Цена</th>
                <th scope="col">Сумма</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ item.product.short_name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.product.price }}</td>
                <td>{{ item.total_price }}</td>
                <td>{{ item.get_price }}</td>
            </tr>
            {% endfor %}
        <p class="h1"> {{ price }}</p>
        </tbody>
    </table>
         <a class="btn btn-outline-success" href="{% url 'checkout' %}" >Перейти к оформлению</a>
    {% else %}
    <p>Ваша корзина пуста.</p>
    {% endif %}
</div>
{% endblock %}
